  .axis text {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: rgb(149,162,93);
    fill-opacity: .9;
    text-anchor: start;
  }

  .chart_label label{
    top: 10px;
    right: 10px;
    float: right;
  }